/* index.css用来美化首页 */
* {
  margin: 0;
  padding: 0;
  /* 内减模式 */
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:active,
a:focus,
a:hover {
  color: #ff8400;
  text-decoration: underline;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background-color: #fff;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}